
body{
    background-image: url("https://cuiet.codebrigade.in/images/Chitkara_University_pic.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* opacity: 0.35;; */
    border-top: 7px solid red;
    margin-top:0px ;
}

.head {
    margin-left: 1600px;
    margin-top: -6px;
}

html {
    height: 100%;
}

.img {
    height: 100px;
    width: 250px;
}
form {
    background-color: white;
    /* filter: none; */
    width: 280px;
    padding: 2%;
    margin-left: 70%;
    margin-top: 5%;
}

#name {
    width: 250px;
    height: 30px;
}


#pass {
    width: 250px;
    height: 30px;
}


.but {
    height: 35px;
    width: 230px;
    font-size: 15px;
    background-color: rgba(253, 5, 5, 0.928);
    border-radius: 2px;
    color: white;
}

.p1 {
    font-size: 15px;
}


.drop {
    width: 250px;
    height: 30px;
    background-color: white;
}


.img3 {
    margin-left: 20%;
}

.img4 {
    margin-left: 10%;
}

.b2 {
    margin-left: 9%;
}

.img5 {
   height: 40px;
   width: 100px;
   margin-left: 10%;
}